<div class="privacy-container">
    <div style="margin: 10px 0; font-size: 1.5rem;">
        <div style="width: 100px; height: 5px; background-color: #a72a56"></div>
        <div>PRIVACY</div>
    </div>

    <div>
        At Quicksur, we prioritize your privacy and are dedicated to safeguarding your personal information. This
        privacy policy elucidates our approach to data collection, usage, disclosure, and protection when you engage
        with our website.
    </div>

    <div style="margin-top: 40px;">
        <div style="font-size: 1.2rem; font-weight: 700;">Information Collection</div>
        <div>
            We solely collect personally identifiable information when you voluntarily provide it to us through forms or
            account registration. We do not collect cookies or similar tracking technologies.
        </div>
    </div>

    <div style="margin-top: 40px;">
        <div style="font-size: 1.2rem; font-weight: 700;">Usage of Information</div>
        <div>
            The information we gather is used to enhance your website experience, fulfill your requests, personalize
            interactions, and provide important updates or promotional offers. We do not collect cookies for these
            purposes.
        </div>
    </div>

    <div style="margin-top: 40px;">
        <div style="font-size: 1.2rem; font-weight: 700;">Third-Party Scripts</div>
        <div>
            We may employ third-party scripts, which may include tracking technologies, to gather statistical data and
            analyze usage patterns. These scripts are utilized solely for statistical purposes and do not collect
            personally identifiable information.
        </div>
    </div>

    <div style="margin-top: 40px;">
        <div style="font-size: 1.2rem; font-weight: 700;">Information Sharing</div>
        <div>
            We may share your personal data with trusted third-party service providers who assist us in operating our
            website or delivering requested services. These entities adhere to strict confidentiality and data
            protection standards.
        </div>
    </div>

    <div style="margin-top: 40px;">
        <div style="font-size: 1.2rem; font-weight: 700;">Updates to Privacy Policy</div>
        <div>
            We reserve the right to update or modify this privacy policy at any time. Such changes will be prominently
            posted on our website, and your continued use of the site implies your acceptance of the revised policy.
        </div>
    </div>

    <div style="margin-top: 40px;">
        By utilizing our website, you acknowledge that you have read, understood, and consented to the terms outlined in
        this privacy policy. Should you have any concerns or questions regarding our privacy practices, please reach out
        to us using the contact information.
    </div>
</div>