<div style="display: flex; flex-direction: column; align-items: center;">
    <p-image class="not-fount-image" src="assets/not-found-min.jpg" alt="404 Page Not Found" width="500"></p-image>
    <div class="not-found-text">
        <div style="font-size: 6rem; color: #495057;">404</div>
        <div style="font-size: 1.5rem; color: #495057;">That page doesn't exist</div>
    </div>
    <div style="margin-top: 40px;">
        <button pButton type="button" class="p-button-raised p-button-success" label="Go Back to Home"
            (click)="goToHome()"></button>
    </div>
</div>