<div class="single-choice-question-preview-container">
    <div class="single-choice-question-preview-header-container">
        <div class="index-number">
            <p-badge [value]="question.indexNumber.toString()"></p-badge>
        </div>
        <div class="question-type">
            {{questionType}}
        </div>
        <div class="single-choice-question-preview-header-menu">
            <button pButton pRipple type="button" icon="pi pi-times"
                class="p-button-rounded p-button-danger p-button-text" (click)="onDelete()"></button>
        </div>
    </div>

    <div class="single-choice-question-preview-text">
        {{question.text}}
    </div>

    <div class="single-choice-question-options-container">
        <div *ngFor="let option of question?.options">
            <div class="single-choice-question-option">
                <label>{{ option.text }}</label>
            </div>
        </div>
    </div>
</div>