.new-survey-settings-container {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.new-survey-settings-title {
    margin: 10px;
    font-size: 1.5rem;
}

.new-survey-settings-steps {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
}

.new-survey-settings-form {
    margin: 50px 0 30px 0;
}

.new-survey-settings-form textarea {
    width: 100%;
}

.description-form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: #495057;
}

.description-form-control label {
    margin-bottom: 0.5rem;
}

.description-form-control small {
    margin-top: 0.25rem;
}

.new-survey-settings-action-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.expriration-date-form-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #495057;
    margin-bottom: 1rem;
}

.survey-result-access-form-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #495057;
    margin-bottom: 1rem;
}

/* for the toggle button */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2a56a7;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2a56a7;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 500px) {

    .expriration-date-form-control {
        flex-direction: column;
        align-items: flex-start;
    }

    .survey-expiration-date {
        margin-top: 1rem;
    }

    .survey-result-access-form-control {
        flex-direction: column;
        align-items: flex-start;
    }

    .pin-code {
        margin-top: 1rem;
    }
}