<div class="terms-container">
    <div style="margin: 10px 0; font-size: 1.5rem;">
        <div style="width: 100px; height: 5px; background-color: #a72a56"></div>
        <div>TERMS OF USE</div>
    </div>

    <div>
        Please read these Terms of Use carefully before using our web tool for creating free surveys. These Terms of Use
        govern your access to and use of the services provided by our website. By using our web tool, you agree to
        comply with these terms and conditions.
    </div>

    <div style="margin-top: 40px;">
        <div style="font-size: 1.2rem; font-weight: 700;">User Responsibilities</div>
        <div>
            <div>
                1. You are responsible for the accuracy, legality, and content of the surveys you create using our web
                tool.
            </div>
            <div>
                2. You agree not to use the web tool for any unlawful or unauthorized purposes.
            </div>
            <div>
                3. You must not use the web tool to infringe upon the intellectual property rights of others.
            </div>
        </div>
    </div>

    <div style="margin-top: 40px;">
        <div style="font-size: 1.2rem; font-weight: 700;">Survey Content</div>
        <div>
            <div>
                1. You retain ownership of the content and data included in the surveys you create.
            </div>
            <div>
                2. By using our web tool, you grant us a non-exclusive, worldwide, royalty-free license to use,
                reproduce, modify, and distribute your surveys for the purpose of providing and improving our services.
            </div>
            <div>
                3. You warrant that you have the necessary rights to the content you include in your surveys and that
                their use does not violate any third-party rights.
            </div>
        </div>
    </div>

    <div style="margin-top: 40px;">
        <div style="font-size: 1.2rem; font-weight: 700;">Prohibited Conduct</div>
        <div>
            <div>
                1. You must not use the web tool to transmit any harmful, offensive, or illegal content
            </div>
            <div>
                2. You shall not interfere with or disrupt the operation of the web tool or its associated servers.
            </div>
            <div>
                3. Any attempt to gain unauthorized access to the web tool or its users' data is strictly prohibited.
            </div>
        </div>
    </div>

    <div style="margin-top: 40px;">
        <div style="font-size: 1.2rem; font-weight: 700;">Service Modifications and Termination</div>
        <div>
            <div>
                1. We reserve the right to modify or discontinue the web tool, temporarily or permanently, without prior
                notice.
            </div>
            <div>
                2. We may terminate your access to the web tool at any time, with or without cause, and without
                liability.
            </div>
        </div>
    </div>

    <div style="margin-top: 40px;">
        <div style="font-size: 1.2rem; font-weight: 700;">Disclaimer of Warranties</div>
        <div>
            <div>
                1. Our web tool is provided "as is" and without any warranty or representation, whether express or
                implied.
            </div>
            <div>
                2. We do not warrant that the web tool will be error-free, uninterrupted, or secure.
            </div>
        </div>
    </div>

    <div style="margin-top: 40px;">
        <div style="font-size: 1.2rem; font-weight: 700;">Limitation of Liability</div>
        <div>
            <div>
                1. We shall not be liable for any direct, indirect, incidental, consequential, or punitive damages
                arising out of or related to your use or inability to use the web tool.
            </div>
        </div>
    </div>

    <div style="margin-top: 40px;">
        By using our web tool, you acknowledge that you have read, understood, and agreed to these Terms of Use. If you
        do not agree with any part of these terms, please refrain from using our web tool.
    </div>

</div>