.rating-question-editor-container {
    display: flex;
    flex-direction: column;
}

.question-text-input {
    margin: 10px 0;
}

.question-text-input textarea {
    width: 100%;
}

.question-action-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.question-action-buttons .action-button {
    width: 150px;
    margin: 0 5px;
}

.question-action-buttons .blue-button {
    background-color: #2a56a7;
}

.question-action-buttons .blue-button:hover {
    background-color: #20417d;
}

.custom-rate {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-rate .title {
    margin-bottom: 10px;
    color: #495057;
}

:host ::ng-deep .custom-rate .p-rating-icon {
    font-size: 32px;
}

:host ::ng-deep .custom-rate .p-rating-icon.pi-star-fill {
    color: #ffc581 !important;
}

:host ::ng-deep .custom-rate .p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover {
    color: #ffc581 !important;
}

@media (max-width: 600px) {

    .question-action-buttons {
        display: flex;
        justify-content: center;
    }

    .question-action-buttons .action-button {
        width: 100%;
        margin: 5px 0;
    }

    :host ::ng-deep .custom-rate .p-rating-icon {
        font-size: 27px;
        color: #ffc581 !important;
    }
}

@media (max-width: 500px) {
    :host ::ng-deep .custom-rate .p-rating-icon {
        font-size: 23px;
    }
}